{% load i18n %}
{% load static %}


<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="first-color">

<!-- {% get_current_language as LANGUAGE_CODE %} -->
    <h1>{{poem.title}}</h1>
    <h2>{{poem.author}}</h2>
    <h3>Type {{poem.get_poem_types}}</h3>
    <article style="white-space: pre-line">
        {% for strophe in poem.get_strophes %}
            <div class="strophe">
            {{strophe}}<br>
            </div>
        {% endfor %}
    </article>
    <div>
        <a href="{{request.META.HTTP_REFERER}}">Back</a>
        <a href="/">Home</a>
    </div>
</body>