<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_styles.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{author}} poems</title>
</head>

<body class="first-color">
    <h1>Listing poems for: {{author}}</h1>
    {% for i,poem in poems %}
    {% include "poem.html.jinja" %}
    {% endfor %}
    <div>
        <a href="/">Back</a>
    </div>
</body>
<script src="{{ url_for('static', filename='toggler.js') }}"></script>
</html>